<div class='modal'>
  <div class='modal__left-side'>
    <img
      src='https://image.tmdb.org/t/p/original/{{poster_path}}'
      alt='poster {{original_title}}'
      class='modal__img'
    />
  </div>

  <div class='modal__right-side'>
    <h3 class='modal__title'>{{title}}</h3>

    <table class='table'>
      <tbody class='table__body'>
        <tr class='table__row'>
          <td class='table__data'>Vote / Votes</td>
          <td class='table__data'><span class='table__rate'>{{vote_average}}</span>
            /
            {{vote_count}}</td>
        </tr>
        <tr class='table__row'>
          <td class='table__data'>Popularity</td>
          <td class='table__data'>{{popularity}}</td>
        </tr>
        <tr class='table__row'>
          <td class='table__data'>Original Title</td>
          <td class='table__data'>{{original_title}}</td>
        </tr>
        <tr class='table__row'>
          <td class='table__data'>Genre</td>
          <td class='table__data'>{{genres}}</td>
        </tr>
      </tbody>
    </table>
    <h4 class='modal__subtitle'>About</h4>
    <p class='modal__text'>
      {{overview}}
    </p>

    <div class='btn__wrapper'>
      <button class='modal__btn' type='button'>add to Watched</button>
      <button class='modal__btn' type='button'>add to queue</button>
    </div>
  </div>
</div>