<div class='modal-window animate__animated animate__fadeIn' data-modal-id='{{id}}'>
  <button type='button' class='modal-window__close-btn' data-modal-close>
    <span class='material-icons'>close</span>
  </button>
  <div class='modal-window__img-wrapper'>
    {{#if poster_path}}
      <img
        src='https://image.tmdb.org/t/p/original/{{poster_path}}'
        alt='poster {{title}}'
        loading='lazy'
      />
    {{else}}
      <img
        src='https://sd.keepcalms.com/i/keep-calm-poster-not-found.png'
        alt='poster not found'
        loading='lazy'
      />
    {{/if}}
  </div>
  <div class='modal-window__film-desÑriptoin'>
    <h3 class='modal-window__film-title'>
      {{title}}
    </h3>
    <table class='modal-window__table'>
      <tr>
        <td class='modal-window__table-refs'>Vote / Votes</td>
        <td class='modal-window__table-value'><span
            class='list-card__rating ml'
          >{{vote_average}}</span>
          /
          {{vote_count}}</td>
      </tr>
      <tr>
        <td class='modal-window__table-refs'>Popularity</td>
        <td class='modal-window__table-value'>{{popularity}}</td>
      </tr>
      <tr>
        <td class='modal-window__table-refs'>Original Title</td>
        <td class='modal-window__table-value'>{{original_title}}</td>
      </tr>
      <tr>
        <td class='modal-window__table-refs'>Genre</td>
        <td class='modal-window__table-value'>
          {{#each genres}}
            {{#if @last}}
              {{this}}
            {{else}}
              {{this}},
            {{/if}}{{/each}}</td>
      </tr>
    </table>
    <p class='about'>About</p>
    <p class='description'>{{overview}}</p>
    <div class='button-wrapper'>
      <button class='button button-active' data-modal-watched>add to Watched</button>
      <button class='button' data-modal-queue>add to queue</button>
    </div>
  </div>
</div>