{{#each this}}
  <li class='list-card__item animate__animated animate__fadeIn'>

    <a href='#' class='list-card__link' data-modal-open data-card-id='{{id}}'>
      <div class='list-card__image-wrapper'>
        {{#if poster_path}}
          <img
            src='https://image.tmdb.org/t/p/w300/{{poster_path}}'
            alt='poster {{title}}'
            loading='lazy'
          />
        {{else}}
          <img
            src='https://sd.keepcalms.com/i/keep-calm-poster-not-found.png'
            alt='poster not found'
            loading='lazy'
          />
        {{/if}}
      </div>
      <div class='list-card__content'>
        <h2 class='list-card__title'>{{title}}</h2>
        <p class='list-card__text'>
          {{#each genres}}
            {{#if @last}}
              {{this}}
            {{else}}
              {{this}},
            {{/if}}{{/each}}
          |
          {{release_date}}
          <span class='list-card__rating'>{{vote_average}}</span>
        </p>
      </div>
    </a>
  </li>
{{/each}}