{{#each data}}
  <li class='list-card__item'>
    <a href='#' class='list-card__link'>
      <div class='list-card__image-wrapper'>
        <img src='https://image.tmdb.org/t/p/original/{{poster_path}}' alt='poster {{title}}' />
      </div>
      <div class='list-card__content'>
        <h2 class='list-card__title'>{{title}}</h2>
        <p class='list-card__text'>{{genres}}|{{release_date}}
          <span class='list-card__rating'>{{vote_average}}</span></p>
      </div>
    </a>
  </li>
{{/each}}